.container.m-8
  %div
    = "#{@current_member[:name]}, a member of #{@current_family[:name]}"
  = form_with url: "/meeting/create", method: :post do |form|
    = form.submit "New Meeting", class: "bg-transparent cursor-pointer text-indigo-700"
  %div
    = "Last #{link_to('meeting', meeting_healthgoals_path(@last_meeting.id), {target: '_blank', class: 'text-indigo-700'}).html_safe} was #{@last_meeting[:created_at].strftime("%B %d %Y")}".html_safe
  %div
    Health Goals this week:
    %ul
    - @last_meeting.health_goals.where(member_id: @current_member.id).each do | g |
      %li
        = g.goal
  %ol Credits
  - @current_family.members.each do |m|
    - unless m.id == @current_member.id
      %li
        %span
          = "#{m[:name]}: "
        %span{id: "member-credit-count-#{m.id}"}        
          = @current_member.credits_for_member(m.id)
        %button.member_use_credit.bg-transparent.cursor-pointer.text-indigo-700{data: {member_id: @current_member.id, receiving_member_id: m.id}}
          Use Credit
        %button.member_add_credit.bg-transparent.cursor-pointer.text-indigo-700{data: {member_id: @current_member.id, receiving_member_id: m.id}}
          Add Credit

