<!DOCTYPE html>
<html>
  <head>
    <title>HealthWellnessComittee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  </head>

  <body>
    <%= render 'shared/header'%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
